<tui-root>
  <div class="container">
    <!-- hack: open keyboard on iOS before focus target input -->
    <input
      #fakeInput
      maxlength="0"
      class="fake-input"
      type="number"
      inputmode="numeric"
    />

    <button (click)="focusCard()" class="button" tuiButton>Focus card</button>

    <tui-input-card-grouped
      #cardGroupedInput
      class="input"
      [autocompleteEnabled]="true"
      [cardValidator]="cardValidator"
      [formControl]="card"
      tuiTextfieldSize="l"
    ></tui-input-card-grouped>
  </div>

  <ng-container ngProjectAs="tuiOverPopups">
    <!-- контент над попапами кита -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverNotifications">
    <!-- контент над нотификациями кита -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverPortals">
    <!-- Content over dropdowns -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverHints">
    <!-- Content over hints -->
  </ng-container>

</tui-root>
